#my-info-block{
	.list-group{
		.list-group-item{
			line-height: 37px;
			padding-left: 0;
			.mat-card-avatar{
				float: left;
				margin-right: 10px;
				background-size: cover;
			}
		}
	}
	.mat-card-actions{
		margin: 0;
		.mat-icon-button{
			font-size: 40px;
			margin-right: 5px;
			&:last-child{
				margin-right: 0;
			}
			&:hover{
				color: #DF2E31;
			}
		}
	}
}