#homePage{
	margin-top: 80px;
	.mat-card{
		margin-top: 1px;
		padding: 10px 24px;
		text-align: center;
		background-color: #F7F7F7;
		a{
			color: #DF2E31;
			font-size: 16px;
			&:hover{
				text-decoration: none;
			}
		}
	}
}